*{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
  
}

section{
  padding-top: 110px;
}

:root{
  --razerGreen: #44d62c;
}

/* Home Page */

#sec-1{
background-image: url(https://i.postimg.cc/T2jVDj64/black-and-green-material-design-background-with-green-diagonal-stripes-severed-by-shadows-modern-abs.jpg);
background-size: cover;
background-attachment: fixed;
height: 1000px;

}


ul{
  color: white;
}

li{
  font-size: 25px;
  margin-right: 20px;
  

  
}

li:hover{
  text-decoration: underline;
  text-decoration-color: var(--razerGreen);
  text-decoration-thickness: 3px;
}


a{
  font-family: "DM Serif Display";
  
}

.home-page-div{
  margin-top: 110px;

  
}

.home-logo{
  width: 150px;
  height: 50px;
  margin-right: 550px;
  margin-left: 10px;

 
}


.home-head{
  background-color: black;
  color: var(--razerGreen);
  border-style: solid;
  border-color: var(--razerGreen);
  border-radius: 50px;
  font-family: "DM Serif Display";
  font-size: 110px;
  height: 220px;

  background-color: none;
  animation-name: welcome;
  animation-duration: 25s;
  animation-delay: 0s;
  position: relative;
  animation-direction: alternate;
}


/* Home Page Animations */

@keyframes welcome{
  0%{
      left: 0px;
      top: -800px;
  }

  25%{
      left: 0px;
      top: 0px;

  }

  50%{
      left: 0px;
     top:0px;

  }

  75%{
      top: 0px;
      left: 0px 
   }

   100%{
      left: 0px;
      top: 0px;
  }
}  



.awd{
  font-family: "Roboto";
  font-size: 40px;
  display: block;
  margin-left: 10px;
  color: white;
  font-style: italic;
}

.home-button{
  width: 150px;
  height: 50px;
  margin-right: 8px;
  font-family: "Roboto";
  font-size: 22px;
  background-color: var(--razerGreen);
  border-color: black;
  border-radius: 50px;
  margin-top: 20px;
  color: black;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  font-weight: bold;
}

.home-button:hover{
  background-color: black;
  color: var(--razerGreen);
  border-color: white;

}



/* About Page */

#sec-2{
  height: 980px;
  background-color: black;
  }

  .about-head-div{
    margin-bottom: 20px;
  
  }

.about-me-head{
  color: white;
  border: 5px solid var(--razerGreen);
  border-radius: 50px;
  font-family: "DM Serif Display";
  font-size: 70px;
  margin: auto;

}

.about-me-title{
  color: white;
  border-radius: 20px;
  font-size: 43px;
  text-decoration: underline;
  text-decoration-color: var(--razerGreen);
}

  /* background-color: none;
  animation-name: sideToSide;
  animation-duration: 3.5s;
  animation-delay: 2s;
  position: relative;
  animation-direction: alternate;
} */

.about-me-body{
  color: var(--razerGreen);
  font-size: 28px;
  margin-bottom: 90px;
  

}

.about-me-pi{
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--razerGreen);
  font-size: 43px;

  /* background-color: none;
  animation-name: sideToSide;
  animation-duration: 3.5s;
  animation-delay: 2s;
  position: relative;
  animation-direction: alternate; */
}

.about-me-pi-bod{
  color: var(--razerGreen);
  /* border-style: solid;
  border-color: green;
  border-radius: 20px; */
  font-size: 28px;
}

.about-img-div{
  margin-top: 30px;
}

.about-img{
  filter: grayscale(100%);
}



/* Skills Page */

#sec-3{
  height: 640px;
  background-color: black;
  
  }


.skills-head{
  background-color: black;
  color: white;
  border: 5px solid var(--razerGreen);
  border-radius: 50px;
  font-family: "DM Serif Display";
  font-size: 70px;
  margin: auto;
}

.skills-col-div{
  margin-left: 60px;
  margin-top: 50px;
}

.skills-card-body{
  height: 120px;
  background-color: var(--razerGreen);
  font-weight: bold;
  
}

.skills-img-top{
  height: 230px;
  filter: grayscale(100%);
  transition: filter 0.5s, transform 0.5s;
}

.skills-img-top:hover{
  filter: none;
  transform: scale(1.05);
}

.skills-card-title{
  color: var(--razerGreen);
  background-color: black;
  font-size: 20px;
}

.skills-card-text{
  font-size: 17px;
  font-family: "Roboto";
}

  .skills-div{
  margin-bottom: 50px;
} 
/*.skills-img{
  width: 400px;
  height: 300px;
  filter: grayscale(100%);
  transition: filter 0.5s, transform 0.5s;
}

.skills-img:hover{
  filter: none;
  transform: scale(1.05);
} */



/* Testimonials Page */

#sec-4{
  height: 1550px;
  /* background-image: url(/images/back-image/6.jpg);
  background-size: cover; */
  color: var(--razerGreen);
  background-color: black;
  }

  .test-head-div{
    margin-bottom: 80px;
  }

  .test-head{
    background-color: black;
    color: white;
    border: 5px solid var(--razerGreen);
    border-radius: 50px;
    font-family: "DM Serif Display";
    font-size: 70px;
    margin: auto;
  }

  .test-card-title{
    color: var(--razerGreen);
    background-color: black;
    font-size: 20px;

  }

  .test-card-text{
    font-size: 17px;
    font-family: "Roboto";
    font-weight: bold;
  }

  .test-card-img-top{
    height: 300px;
  }

  .test-row-div{
    margin-bottom: 40px;
    margin-left: 90px
  }
  

  .test-card-body{
    height: 320px;
  }




  /* Project Page */
  #sec-5{
    height: 830px;
    background-color: black;
    color: white;
    /* background-image: url(/images/back-image/Black-And-White-Background-Nice-Wallpaper-16258.jpg);
    background-size: cover;  */
   
    }

    .project-head-div{
      margin-bottom: 70px
    }

    .project-head{
      background-color: black;
      color: white;
      border: 5px solid var(--razerGreen);
      border-radius: 50px;
      font-family: "DM Serif Display";
      font-size: 70px;
      margin: auto;
    }

    .card-container{
      margin-left: 0px;
    }

    
    .proj-card-div {
      position : relative;
      display :flex;
      align-items : center;
      /* justify-content : center; */
      /* flex-warp : warp; */
      padding : 50px;
    }
    .proj-card-div .card {
      position: relative;
      width : 300px;
      height : 170px;
      background-color : var(--razerGreen);
      margin : 0px;
      padding : 1rem;
      display : flex;
      flex-direction : column;
      box-shadow : 0 5px 20px rgba(0,0,0,0.5);
      transition : 1s ease-in-out;
      border-radius : 15px;
      align-items: center;
    }
    .proj-card-div .card:hover {
      height : 310px;
    }

    .proj-card-div .card .image {
      position : relative;
      width : 280px;
      height : 280px;
      top : -20%;
      /* box-shadow : 0 5px 20px rgba(0,0,0,0.2); */
      z-index : 1;
      align-items: center;
    }
    .proj-card-div .card .image img {
      max-width : 100%;
      border-radius : 20px;
    }
    .proj-card-div .card .content {
      position : relative;
      top : -60px;
      padding : 10px 15px;
      color : black;
      text-align : center;
      visibility : hidden;
      opacity : 0;
      transition : 0.7s ease-in-out;
    }
    .proj-card-div .card:hover .content {
       margin-top : 30px;
       visibility : visible;
       opacity : 1;
       transition-delay: 0.2s;
    }
  
    .proj-cards-but{
      font-family: "Roboto";
      font-size: 22px;
      background-color: black;
      color: var(--razerGreen);
      border-color: white;
      border-radius: 20px;
      transition: border-color 0.5s, background-color 0.5s, color 0.5s;
      width: 110px;
      height: 50px;
      font-weight: bold;
    }
    
    .proj-card-title{
      background-color: black;
      color: var(--razerGreen);
      margin-bottom: 10px;
    }




    /* Resume Page */

    #sec-6{
      height: 630px;
      /* background-image: url(/images/back-image/6.jpg);
      background-size: cover; */
      background-color: black;
  
      }
  
     .resume-head-div{
      margin-bottom: 50px;
    }
      .resume-head{
        background-color: black;
        color: white;
        border: 5px solid var(--razerGreen);
        border-radius: 50px;
        font-family: "DM Serif Display";
        font-size: 70px;
        margin: auto;
      }
  
      .resume-title{
        color: white;
        /* border-style: solid;
        border-color: var(--razerGreen); */
        border-radius: 20px;
        font-size: 43px;
        text-decoration: underline;
        text-decoration-color: var(--razerGreen);
        margin-top: 50px;
      
        /* background-color: none;
        animation-name: sideToSide;
        animation-duration: 3.5s;
        animation-delay: 2s;
        position: relative;
        animation-direction: alternate; */
      }
  
      .resume-title-2{
        color: white;
        border-radius: 20px;
        font-size: 43px;
        text-decoration: underline;
        text-decoration-color: var(--razerGreen);
        margin-top: 90px;
      
        /* background-color: none;
        animation-name: sideToSide;
        animation-duration: 3.5s;
        animation-delay: 2s;
        position: relative;
        animation-direction: alternate; */
      }
  
  
      .resume-details{
        color: #44d62c;
        font-size: 28px;
      }
  



      /* Contact Page */

    #sec-7{
      height: 1000px;
      color: white;
      background-color: black;
      }
  
      .contact-container {
        border-radius: 5px;
        background-color: black;
        padding: 10px;
      } 
      
      .contact-div{
        margin-bottom: 50px;
        
      }
  
      .contact-head{
        background-color: black;
        color: white;
        border: 5px solid var(--razerGreen);
        border-radius: 50px;
        font-family: "DM Serif Display";
        font-size: 70px;
        margin: auto;
      }
  
  
      .contactForm-div{
        width: 400px;
        margin: auto;
        
      }
    
      label{
        font-family: "Roboto";
        font-size: 22px;
        color: var(--razerGreen);
      }
  
   input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    width: 150px;
    height: 50px;
    margin-right: 5px;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    background-color: var(--razerGreen);
    border-color: black;
    border-radius: 50px;
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  }
  
  input[type=submit]:hover {
    background-color: black;
    color: var(--razerGreen);
    border-color: white;
  }
  
  
  .icons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
   
  }
  
  .linkedin-div{
    margin-right: 30px;
  }
  
  .github-div{
    margin-right: 30px;
  }
  
  .whatsapp-div{
    margin-right: 30px;
  }
  
  .instagram-div{
    margin-right: 30px;
  }
  
  .footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 20px;
  }
  
  .footer-name{
    font-size: 28px;
  }




  /* Responsiveness */



  @media screen and (max-width: 300px) {



    /* Home Page */
    #sec-1 {
      height: auto;
    }
  
    .home-page-div{
      width:auto;
     
    }

    .home-head {
      font-size: 40px;
      height: auto;
      width: 300px;
    }
  

    .home-logo {
      width: 150px;
      height: 50px;
      margin-right: 10px;
      margin-left: 10px;
    }
  

    .home-button {
      width: 130px;
      height: 40px;
      font-size: 18px;
    }
  

    .awd {
      font-size: 18px;
    }
  

    /* About Page */
    #sec-2 {
      height: auto;
    }
  

    .about-me-head {
      font-size: 30px;
    }
  

    .about-me-title {
      font-size: 20px;
    }
  

    .about-me-body {
      font-size: 16px;
      margin-bottom: 30px;
    }
  
    
    .about-me-pi {
      font-size: 30px;
    }
  

    .about-me-pi-bod {
      font-size: 16px;
    }
  

    .about-img {
      width: 150px;
      height: auto;
    }
  

    /* Skills Page */
    #sec-3 {
      height: auto;
    }
  

    .skills-head {
      font-size: 29px;
    }
  

    .skills-card-title {
      font-size: 19px;
    }
  

    .skills-card-text {
      font-size: 16px;
    }
  

    .skills-img-top {
      height: auto;
      max-width: 150px;
    }
  

    /* Testimonials Page */
    #sec-4 {
      height: auto;
    }
  

    .test-head {
      font-size: 30px;
    }

  
    .test-card-title {
      font-size: 20px;
    }
  

    .test-card-text {
      font-size: 16px;
    }
  

    .test-card-img-top {
      height: auto;
      max-width: 150px;
    }
  

    /* Project Page */
    #sec-5 {
      height: auto;
    }
  

    .project-head {
      font-size: 30px;
    }
  

    .proj-card-title {
      font-size: 20px;
    }
  

    .proj-cards-but {
      font-size: 16px;
      width: 120px;
      height: 40px;
    }

  
    /* Resume Page */
    #sec-6 {
      height: auto;
    }
  

    .resume-head {
      font-size: 30px;
    }
  

    .resume-title,
    .resume-title-2 {
      font-size: 20px;
    }
  

    .resume-details {
      font-size: 16px;
    }
  


    /* Contact Page */
    #sec-7 {
      height: auto;
    }
  

    .contact-head {
      font-size: 30px;
    }
  

    label,
    input[type="text"],
    textarea {
      font-size: 16px;
    }
  
    input[type="submit"] {
      width: 130px;
      height: 40px;
      font-size: 18px;
    }
  
    .icons {
      margin-top: 30px;
    }
  
    .footer {
      font-size: 18px;
    }
  
    .footer-name {
      font-size: 26px;
    }
  }
  



  @media screen and (max-width: 720px) {

    /* Home Page */
    #sec-1 {
      height: auto;
    }
  

    .home-head {
      font-size: 50px;
      height: auto;
    }
  

    .home-logo {
      width: 150px;
      height: 50px;
      margin-right: 10px;
      margin-left: 10px;
    }
  
    .home-button {
      width: 150px;
      height: 50px;
      font-size: 20px;
    }
  
    .awd {
      font-size: 20px;
    }
  

    
    /* About Page */
    #sec-2 {
      height: auto;
    }
  
    .about-me-head {
      font-size: 40px;
    }
  
    .about-me-title {
      font-size: 25px;
    }
  

    .about-me-body {
      font-size: 20px;
      margin-bottom: 50px;
    }
  
    .about-me-pi {
      font-size: 40px;
    }
  

    .about-me-pi-bod {
      font-size: 20px;
    }
  
    .about-img {
      width: 200px;
      height: auto;
    }
  


    /* Skills Page */
    #sec-3 {
      height: auto;
    }
  
    .skills-head {
      font-size: 40px;
    }
  

    .skills-card-title {
      font-size: 25px;
    }
  
    .skills-card-text {
      font-size: 20px;
    }
  

    .skills-img-top {
      height: auto;
      max-width: 200px;
    }
  


    /* Testimonials Page */
    #sec-4 {
      height: auto;
    }
  
    .test-head {
      font-size: 40px;
    }
  

    .test-card-title {
      font-size: 25px;
    }
  

    .test-card-text {
      font-size: 20px;
    }
  
    .test-card-img-top {
      height: auto;
      max-width: 200px;
    }
  


    /* Project Page */
    #sec-5 {
      height: auto;
    }
  
    .project-head {
      font-size: 40px;
    }
  

    .proj-card-title {
      font-size: 25px;
    }
  
    .proj-cards-but {
      font-size: 20px;
      width: 150px;
      height: 50px;
    }
  


    /* Resume Page */
    #sec-6 {
      height: auto;
    }
  
    .resume-head {
      font-size: 40px;
    }
  

    .resume-title,
    .resume-title-2 {
      font-size: 25px;
    }
  
    .resume-details {
      font-size: 20px;
    }
  


    /* Contact Page */
    #sec-7 {
      height: auto;
    }
  

    .contact-head {
      font-size: 40px;
    }
  

    label,
    input[type="text"],
    textarea {
      font-size: 20px;
    }
  

    input[type="submit"] {
      width: 160px;
      height: 60px;
      font-size: 25px;
    }
  

    .icons {
      margin-top: 40px;
    }
  
    .footer {
      font-size: 25px;
    }
  
    .footer-name {
      font-size: 35px;
    }
  }




  @media screen and (max-width: 1080px) {

    /* Home Page */
    #sec-1 {
      height: 600px;
    }
  
    .home-head {
      font-size: 50px;
      height: auto;
    }
  

    .home-logo {
      width: 150px;
      height: 50px;
      margin-right: 110px;
      margin-left: 10px;
    }
  

    .home-button {
      width: 150px;
      height: 50px;
      font-size: 20px;
    }
  
    .awd {
      font-size: 20px;
    }
  


    /* About Page */
    #sec-2 {
      height: auto;
    }
  
    .about-me-head {
      font-size: 40px;
    }
  
    .about-me-title {
      font-size: 25px;
    }
  

    .about-me-body {
      font-size: 20px;
      margin-bottom: 50px;
    }
  
    .about-me-pi {
      font-size: 40px;
    }
  
    .about-me-pi-bod {
      font-size: 20px;
    }
  
    .about-img {
      width: 200px;
      height: auto;
    }
  



    /* Skills Page */
    #sec-3 {
      height: 550px;
    }
  
    .skills-head {
      font-size: 40px;
    }
  
    .skills-card-title {
      font-size: 25px;
    }
  
    .skills-card-text {
      font-size: 20px;
    }
  
    .skills-img-top {
      height: 200px;
      
    }
  
    .skills-card-body{
      height: 170px;
    }

    .skills-col-div{
      margin:auto;
    }


    /* Testimonials Page */
    #sec-4 {
      height: 1670px;
    }
  
    .test-head {
      font-size: 40px;
    }
  
    .test-card-title {
      font-size: 25px;
    }
  
    .test-card-text {
      font-size: 20px;
      
    }
  
    .test-card-img-top {
      height: 300px;
      
    }
  
    .test-row-div{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }

    .test-card-body{
      
      height: 400px;
    }


    /* Project Page */
    #sec-5 {
      height: auto;
    }
  
    .project-head {
      font-size: 40px;
    }
  
    .proj-card-title {
      font-size: 25px;
    }
  
    .proj-cards-but {
      font-size: 20px;
      width: 150px;
      height: 50px;
    }
  



    /* Resume Page */
    #sec-6 {
      height: 490px;
    }
  
    .resume-head {
      font-size: 40px;
    }
  
    .resume-title,
    .resume-title-2 {
      font-size: 25px;
    }
  
    .resume-details {
      font-size: 20px;
    }
  


    /* Contact Page */
    #sec-7 {
      height: 900px;
    }
  
    .contact-head {
      font-size: 40px;
    }
  
    label,
    input[type="text"],
    textarea {
      font-size: 20px;
    }
  
    input[type="submit"] {
      width: 160px;
      height: 60px;
      font-size: 25px;
    }
  
    .icons {
      margin-top: 40px;
    }
  
    .footer {
      font-size: 25px;
    }
  
    .footer-name {
      font-size: 35px;
    }
  }