*{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
  
}

section{
  padding-top: 110px;
}

:root{
  --razerGreen: #44d62c;
}

/* Home Page */

#sec-1{
background-image: url(https://i.postimg.cc/T2jVDj64/black-and-green-material-design-background-with-green-diagonal-stripes-severed-by-shadows-modern-abs.jpg);
background-size: cover;
background-attachment: fixed;
height: 1000px;

}


ul{
  color: white;
}

li{
  font-size: 25px;
  margin-right: 20px;
  

  
}

li:hover{
  text-decoration: underline;
  text-decoration-color: var(--razerGreen);
  text-decoration-thickness: 3px;
}


a{
  font-family: "DM Serif Display";
  
}

.home-page-div{
  margin-top: 150px;

  
}

.home-logo{
  width: 150px;
  height: 50px;
  margin-right: 950px;
  margin-left: 10px;

 
}


.home-head{
  background-color: black;
  color: var(--razerGreen);
  border-style: solid;
  border-color: var(--razerGreen);
  border-radius: 50px;
  font-family: "DM Serif Display";
  font-size: 110px;
  height: 220px;

  background-color: none;
  animation-name: welcome;
  animation-duration: 15s;
  animation-delay: 0s;
  position: relative;
  animation-direction: alternate;
}


/* Home Page Animations */

@keyframes welcome{
  0%{
      left: 0px;
      top: -800px;
  }

  25%{
      left: 0px;
      top: 0px;

  }

  50%{
      left: 0px;
     top:0px;

  }

  75%{
      top: 0px;
      left: 0px 
   }

   100%{
      left: 0px;
      top: 0px;
  }
}  



.awd{
  font-family: "Roboto";
  font-size: 40px;
  display: block;
  margin-left: 10px;
  color: white;
  font-style: italic;
}

.home-button{
  width: 150px;
  height: 50px;
  margin-right: 8px;
  font-family: "Roboto";
  font-size: 22px;
  background-color: var(--razerGreen);
  border-color: black;
  border-radius: 50px;
  margin-top: 20px;
  color: black;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  font-weight: bold;
}

.home-button:hover{
  background-color: black;
  color: var(--razerGreen);
  border-color: white;

}



/* About Page */

#sec-2{
  height: 950px;
  background-color: black;
  }

  .about-head-div{
    margin-bottom: 20px;
  
  }

.about-me-head{
  color: white;
  border: 5px solid var(--razerGreen);
  border-radius: 50px;
  font-family: "DM Serif Display";
  font-size: 70px;
  margin: auto;

}

.about-me-title{
  color: white;
  border-radius: 20px;
  font-size: 43px;
  text-decoration: underline;
  text-decoration-color: var(--razerGreen);
}

  /* background-color: none;
  animation-name: sideToSide;
  animation-duration: 3.5s;
  animation-delay: 2s;
  position: relative;
  animation-direction: alternate;
} */

.about-me-body{
  color: var(--razerGreen);
  font-size: 28px;
  margin-bottom: 90px;
  

}

.about-me-pi{
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--razerGreen);
  font-size: 43px;

  /* background-color: none;
  animation-name: sideToSide;
  animation-duration: 3.5s;
  animation-delay: 2s;
  position: relative;
  animation-direction: alternate; */
}

.about-me-pi-bod{
  color: var(--razerGreen);
  /* border-style: solid;
  border-color: green;
  border-radius: 20px; */
  font-size: 28px;
}

.about-img-div{
  margin-top: 30px;
}

.about-img{
  filter: grayscale(100%);
}



/* Skills Page */

#sec-3{
  height: 495px;
  background-color: black;
  
  }

.skills-div{
  margin-bottom: 50px;
}
.skills-head{
  background-color: black;
  color: white;
  border: 5px solid var(--razerGreen);
  border-radius: 50px;
  font-family: "DM Serif Display";
  font-size: 70px;
  margin: auto;
}

.skills-img{
  width: 400px;
  height: 300px;
  filter: grayscale(100%);
  transition: filter 0.5s, transform 0.5s;
}

.skills-img:hover{
  filter: none;
  transform: scale(1.05);
}



/* Testimonials Page */


#sec-4{
  height: 1500px;
  /* background-image: url(/images/back-image/6.jpg);
  background-size: cover; */
  color: var(--razerGreen);
  background-color: black;
  }

  .test-head-div{
    margin-bottom: 80px;
  }

  .test-head{
    background-color: black;
    color: white;
    border: 5px solid var(--razerGreen);
    border-radius: 50px;
    font-family: "DM Serif Display";
    font-size: 70px;
    margin: auto;
  }

  .card-title{
    color: var(--razerGreen);
    background-color: black;

  }

  .card-text{
    font-size: 16px;
    font-family: "Roboto";
  }

  .card-img-top{
    height: 300px;
  }

  .test-row-div{
    margin-bottom: 40px;
    margin-left: 90px
  }
  
  .card-img-top{
    height: 300px;
  }



  /* Project Page */
  #sec-5{
    height: 850px;
    background-color: black;
    color: white;
    /* background-image: url(/images/back-image/Black-And-White-Background-Nice-Wallpaper-16258.jpg);
    background-size: cover;  */
   
    }

    .project-head-div{
      margin-bottom: 70px
    }

    .project-head{
      background-color: black;
      color: white;
      border: 5px solid var(--razerGreen);
      border-radius: 50px;
      font-family: "DM Serif Display";
      font-size: 70px;
      margin: auto;
    }

    .card-container{
      margin-left: 0px;
    }

    
    .proj-card-div {
      position : relative;
      display :flex;
      align-items : center;
      /* justify-content : center; */
      /* flex-warp : warp; */
      padding : 50px;
    }
    .proj-card-div .card {
      position: relative;
      width : 300px;
      height : 170px;
      background-color : var(--razerGreen);
      margin : 0px;
      padding : 1rem;
      display : flex;
      flex-direction : column;
      box-shadow : 0 5px 20px rgba(0,0,0,0.5);
      transition : 1s ease-in-out;
      border-radius : 15px;
      align-items: center;
    }
    .proj-card-div .card:hover {
      height : 310px;
    }

    .proj-card-div .card .image {
      position : relative;
      width : 280px;
      height : 280px;
      top : -20%;
      /* box-shadow : 0 5px 20px rgba(0,0,0,0.2); */
      z-index : 1;
      align-items: center;
    }
    .proj-card-div .card .image img {
      max-width : 100%;
      border-radius : 20px;
    }
    .proj-card-div .card .content {
      position : relative;
      top : -60px;
      padding : 10px 15px;
      color : black;
      text-align : center;
      visibility : hidden;
      opacity : 0;
      transition : 0.7s ease-in-out;
    }
    .proj-card-div .card:hover .content {
       margin-top : 30px;
       visibility : visible;
       opacity : 1;
       transition-delay: 0.2s;
    }
  
    .proj-cards-but{
      font-family: "Roboto";
      font-size: 22px;
      background-color: black;
      color: var(--razerGreen);
      border-color: white;
      border-radius: 20px;
      transition: border-color 0.5s, background-color 0.5s, color 0.5s;
      width: 110px;
      height: 50px;
      font-weight: bold;
    }
    
    .proj-card-title{
      background-color: black;
      color: var(--razerGreen);
      margin-bottom: 10px;
    }




    /* Resume Page */

    #sec-6{
      height: 650px;
      /* background-image: url(/images/back-image/6.jpg);
      background-size: cover; */
      background-color: black;
  
      }
  
     .resume-head-div{
      margin-bottom: 50px;
    }
      .resume-head{
        background-color: black;
        color: white;
        border: 5px solid var(--razerGreen);
        border-radius: 50px;
        font-family: "DM Serif Display";
        font-size: 70px;
        margin: auto;
      }
  
      .resume-title{
        color: white;
        /* border-style: solid;
        border-color: var(--razerGreen); */
        border-radius: 20px;
        font-size: 43px;
        text-decoration: underline;
        text-decoration-color: var(--razerGreen);
        margin-top: 50px;
      
        /* background-color: none;
        animation-name: sideToSide;
        animation-duration: 3.5s;
        animation-delay: 2s;
        position: relative;
        animation-direction: alternate; */
      }
  
      .resume-title-2{
        color: white;
        border-radius: 20px;
        font-size: 43px;
        text-decoration: underline;
        text-decoration-color: var(--razerGreen);
        margin-top: 90px;
      
        /* background-color: none;
        animation-name: sideToSide;
        animation-duration: 3.5s;
        animation-delay: 2s;
        position: relative;
        animation-direction: alternate; */
      }
  
  
      .resume-details{
        color: #44d62c;
        font-size: 28px;
      }
  